h1 {
  font-size: 60px;
  font-family: Trebuchet MS, sans-serif;
  text-decoration: underline;
  color: black
  text-align: center;
}
h2 {
  font-size: 50px;
text-decoration: underline;
}

h3 {
  font-size: 30px
  font-family:sans-serif;
  border-style: dashed;
}

p {
  font-family: Tristan;
}

img {
  height:130px;
  width: 130px;
  position: absolute;
  border: black 5px;
  right: 100px;

}
body {
  background-image: url("backgroundimage.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#workexperience, #address, #profile, #volunteerwork, #extracurric {
border-bottom: 2px black
text-align: center;
}
