h1 {
  font-size: 70px;
  font-family: Trebuchet MS, sans-serif;
  text-decoration: underline;
  text-align: center;
}
img {
  height: auto;
  width: auto;
  position: static;
  border: dark grey 5px;
  right: auto;
}
.background {
  background-image: ("backgroundimage.png");
  background-size: cover;
}
.skill, .workexperience, .extracurricular, .volunteer {
border-top-color: inherit;
}
.address {
  text-align: center;
  text-decoration-style: dotted;
}
